@import url('https://fonts.googleapis.com/css2?family=kanit:wght@400;700&display=swap');

body {
    background: none;
}
.home-container {
    padding: 20px;
    padding-top: 130px;
  }
  
  .categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .categories button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .categories button.active {
    background-color: #007bff;
    color: white;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }