hyml,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url('image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'kanit',sans-serif;
}
.form-container-register {
    width: 500px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 200px;
    margin-top: 100px;
}
  
  .form-container-register h2 {
    text-align: center !important;
    color: #ffffff;
    font-family: 'kanit',sans-serif;
    margin-left: 0%;
    margin-top: 0%;

  }
  .form-container-register{
    border: 1px solid #0010ec; 
    border-radius: 30px; 
    padding: 50px; 
    background-color: #5287f2; 
    box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1); 
  }
  .form-group-register {
    margin-bottom: 15px;
  }
  
  .form-group-register label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .form-group-register input,
  .form-group-register textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #111111; /* เธเธฃเธญเธเธชเธตเธเนเธณเน€เธเธดเธ */

  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #fce918;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
input::placeholder {
    color: #888;
}
