body {
  background: none;}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0479ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  position: fixed; /* ทำให้ Topbar อยู่ด้านบนสุด */
  top: 0; /* ชิดขอบบน */
  left: 0; /* ชิดขอบซ้าย */
  right: 0; /* ชิดขอบขวา */
  z-index: 1000; /* ทำให้ Topbar อยู่เหนือองค์ประกอบอื่น */
  transition: transform 0.3s ease, filter 0.3s ease; /* เพิ่มเอฟเฟกต์ */
}

.topbar-left .topbar-logo {
  height: 270px;
  transition: transform 0.3s ease, filter 0.3s ease; /* เพิ่มเอฟเฟกต์ */
}

.topbar-center .topbar-search {
  width: 700px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.topbar-center .topbar-search::placeholder {
  font-size: 16px; /* กำหนดขนาดตัวอักษรของ placeholder */
  color: #aaa; /* กำหนดสีของ placeholder */
  font-style: italic; /* เพิ่มสไตล์ตัวเอียง (ถ้าต้องการ) */
}
/* Right Section: Icons */
.topbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* ไอคอน Wish List */
.topbar-right .wishlist-icon {
  width: 45px; /* ขนาดของไอคอน Wish List */
  height: 45px;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.topbar-right .wishlist-icon:hover {
  transform: scale(1.1); /* ขยายเล็กน้อยเมื่อ hover */
}

/* ไอคอน Profile */
.topbar-right .profile-icon {
  width: 40px; /* ขนาดของไอคอน Profile */
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.topbar-right .profile-icon:hover {
  transform: scale(1.1); /* ขยายเล็กน้อยเมื่อ hover */
}